/ {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1600px; /* Gives it that wide feel without breaking on 4k screens */
}

h1 {
    font-size: 2.2rem; /* Standard pkgdown H1 */
}

.pkgdown-title {
    font-size: 1.4rem !important;
}

div.csl-entry {
  position: relative;
  z-index: 1;
  scroll-margin-top: 80px;
}

div.csl-entry:target::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -10px;
  left: -1em;
  background-color: #ffeb3b;
  border-radius: 4px;
  outline: 1px solid #fbc02d;
  z-index: -1;
}
